{{> nav}}
<section class="hero is-fullheight">
  <div class="hero-heading">
    {{> alert}}
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="container" style="padding: 10px">
        <label class="label is-medium">Function Name</label>
        <input id="name" class="input is-medium" type="text" value={{functions.name}}>
      </div>
      <div class="box">
        <div class="columns">
          <div class="column is-2">
            <label class="label">Language</label><br>
            <div class="select">
              <select id="language">
                <option value="" disabled selected>Languages</option>
                {{#each languages}}
                  <option>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="column is-5">
            <label class="label">Inputs</label><br>
            <textarea id="inputs" class="textarea" placeholder="Write test inputs line by line">{{#each functions.inputs}}{{this}}
{{/each}}</textarea>
          </div>
          <div class="column is-5">
            <label class="label">Outputs</label><br>
            <textarea id="outputs" class="textarea" placeholder="Write each expected output line by line">{{#each functions.outputs}}{{this}}
{{/each}}</textarea>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12">
            <label class="label">Function</label>
          </div>
        </div>
        <div class="columns">
          <div class="column box is-paddingless is-12" style="height: 300px">
            <div id="editor">{{#each functions.code}}{{this}}
{{/each}}</div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-2">
            <span id="tag" class="tag is-medium is-light">Test status</span>
          </div>
          <div class="column is-2 is-offset-8 has-text-right">
            <div id="run" class="button is-primary">Run</div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-1">
            <label class="label">Console</label>
          </div>
          <div class="column is-11">
            <textarea class="textarea" id="console" disabled placeholder="Function Output"></textarea>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-2 is-offset-10 has-text-right">
          <div id="remove" class="button is-danger">Delete</div>
          <div id="create" class="button is-primary">Update</div>
        </div>
      </div>
    </div>
  </div>
</section>
<style type="text/css" media="screen">
  #editor {
    position: relative;
    height: 100%;
    width: 100%;
  }
</style>
<script src="../../public/ace/ace.js"></script>
<script src="../../public/ace/ext-language_tools.js"></script>
<script src="../../public/ace/ext-spellcheck.js"></script>
<script src="../../public/ace/mode-javascript.js"></script>
<script src="../../public/ace/mode-java.js"></script>
<script src="../../public/ace/mode-python.js"></script>
<script src="../../public/ace/mode-python.js"></script>
<script>
  var language = '{{functions.language}}';
  var working = {{functions.working}};
  var id = '{{functions._id}}';
</script>
<script type="text/javascript" src="../../public/mini-js/functionEdit.min.js"></script>

